@import '~bootstrap/scss/variables';

// colors
$white:  #fff;
$black:  #000;
$red:    #d9534f;
$orange: #f0ad4e;
$yellow: #ffd500;
$green:  #5cb85c;
$blue:   #2687e9;
$teal:   #5bc0de;
$pink:   #ff5b77;
$purple: #613d7c;
$gray:   #3f5e7b;

// Create grayscale
$gray-dark:                 #385A7B;
$gray:                      #464a4c;
$gray-light:                #636c72;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

$body-color:    $gray-dark;
$input-color:   $gray-dark;

// forms
$input-padding-x:   1rem;
$input-padding-y:   .7rem;
$input-line-height: 1.25;

$input-color-placeholder:   #9CA5AC;
$font-size-base: .875rem;

// button
$btn-padding-x: 2em;

// table
$table-border-color:        #c9d3dd;
$table-cell-padding:          .75rem;

$custom-control-indicator-size:       1.5rem;
$custom-control-indicator-bg:         #fff;

// --
.bg-contaazul {
    background-color: $blue;
}

.bg-grey {
    background-color: #f1f4f9;
}

.btn {
    cursor: pointer;
}

.table-default {
    border: 1px solid #C9D3DD;
    background-color: #F8FAFC;
    border-collapse: collapse;
}

.table.table-default {
    td {
        padding: ($table-cell-padding + .2rem) $table-cell-padding
    }
}