@import '~bootstrap/scss/variables';

// colors
$white:  #fff;
$black:  #000;
$red:    #d9534f;
$orange: #f0ad4e;
$yellow: #ffd500;
$green:  #5cb85c;
$blue:   #2687e9;
$teal:   #5bc0de;
$pink:   #ff5b77;
$purple: #613d7c;
$gray:   #3f5e7b;

// Create grayscale
$gray-dark:                 #385A7B;
$gray:                      #464a4c;
$gray-light:                #636c72;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;
$blue-lighter:              #d9eafb;
$yellow-lighter:            #fffaec;

$body-color:    $gray-dark;
$input-color:   $gray-dark;

// components
$border-radius:          .15rem;
$border-radius-lg:       .3rem;
$border-radius-sm:       .2rem;

// forms
$input-padding-x:   1rem;
$input-padding-y:   .6rem;
$input-line-height: 1.25;

$input-color-placeholder:   #9CA5AC;
$font-size-base: .875rem;

// button
$btn-padding-x: 2em;

// table
$table-border-color:        #c9d3dd;
$table-cell-padding:          .75rem;

$custom-control-indicator-size:       1.3rem;
$custom-control-indicator-bg:         #fff;

// pagination
$pagination-active-color:              $gray-dark;
$pagination-active-bg:                 $blue-lighter;
$pagination-active-border:             #9ccef5;
$pagination-hover-bg:                  $yellow-lighter;

// --
.bg-contaazul {
    background-color: $blue;
}

.bg-grey {
    background-color: #f1f4f9;
}

.btn {
    cursor: pointer;
}

.table.table-default {
    border: 1px solid #C9D3DD;
    thead th {
        vertical-align: bottom;
        border-bottom: $table-border-width solid $table-border-color;
    }
    td {
        background-color: #FFFFFF;
    }
    border-collapse: collapse;
}

.table.table-default {
    td {
        padding: ($table-cell-padding + .2rem) $table-cell-padding
    }
}