$background-color = #F1F4F9
$blue = rgb(38, 135, 233)

.container
    margin-top 75px
    flex 1
    padding 15px
    width 940px

@media (min-width: 544px)
    .container
        max-width:544px

@media (min-width: 768px)
    .container 
        max-width:768px

@media (min-width: 992px)
    .container 
        max-width:992px

@media (min-width: 1200px)
    .container
        max-width:1200px

.btn
    background-color #F8FAFC
    color #385A7B
    border-width 1px
    border-style solid
    border-color #C9D3DD
    border-radius 3px
    padding 12px 15px
    box-sizing border-box
    font-size 14px
    font-weight 600
    display block
    text-align center
    white-space nowrap
    cursor pointer
    line-height 1em
    margin-right 10px
    &:focus
        outline 0
        box-shadow 0 0 0 2px rgba(139,200,246,0.8)
        z-index 1
    &.btn-success
        background-color #4ABA58
        border 1px solid #4ABA58
        color #FFFFFF
        &:focus
            box-shadow: 0 0 0 2px rgba(153,237,139,0.8)
            background-color: rgba(74,186,88,0.8)
            border: 1px solid #4ABA58

.search
    display flex
    align-items center
    flex 1
    input
        flex 1
        font-size inherit


